<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="https://html5-templates.com/" />
    <title>Responsive HTML5 Page Layout Template</title>
    <meta name="description" content="Simple HTML5 Page layout template with header, footer, sidebar etc.">
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js"></script>
</head>

<body>
	<header>
		<div id="logo"><img src="../static/ckc.jpeg"><font color="red"><font face="algerian">The Champions Karate Club</div></font></font>
		<nav>  
			<ul>
				<li><a href="{{url_for('index')}}">Home</a>
				<li><a href="{{url_for('contact')}}">Contact</a>
				<li><a href="{{url_for('about')}}">About</a>
				<li><a href="{{url_for('allusers')}}">All Students</a>
				<li><a href="{{url_for('search')}}">Search User</a>
				
			</ul>
		</nav>
	</header>
	<section>
		<strong>We Are The Best In Pune</strong>
		<h1><font face="Times New Roman"><font color="blue">We Made 100s of Champions. Our six students get selected for National Championship this year</h1></font></font><br><br>
		<strong><font face="italic"><font color="red"><font size=8>Now We Are IN</strong></font></font></font></font>
		<br><br><h2>1.Ranjangaon Ganpati</h2>
		<br><br><h2>2.Koregaon Bhima</h2>
		<br><br><h2>3.Karegaon</h2>
		<br><br><h2>4.Shirur</h2>
		
		
	</section>
		
		
	<section id="pageContent">
		<main role="main">
				<id="logo"><img src="../static/tc.jpeg" width=1000>
		<p><font face="Times New Roman"><font color="voilet"><font size=4>Many people learn the art of self-defense. It even builds their confidence in overcoming their fear.
		
If ever a time may come to get yourself out of danger, even if you're new at learning it, you can get yourself out of it. Karate is also a sport and is included as an Olympic sport in 2021. </p></font>
		
		
	</section>
		
	<footer>
		<p>&copy; You can copy, edit and publish this template but please leave a link to our website | <a href="https://html5-templates.com/" target="_blank" rel="nofollow">HTML5 Templates</a></p>
		<address>
			Contact: <a href="sontakkev44@gmail.com">Mail me</a>
		</address>
	</footer>


</body>

</html>