<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="https://html5-templates.com/" />
    <title>Responsive HTML5 Page Layout Template</title>
    <meta name="description" content="Simple HTML5 Page layout template with header, footer, sidebar etc.">
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js"></script>
</head>

<body>
	<header>
		<div id="logo"><img src="../static/ckc.jpeg"><font color="red"><font face="algerian">The Champions Karate Club</div></font></font>
		<nav>  
			<ul>
				<li><a href="{{url_for('index')}}">Home</a>
				<li><a href="{{url_for('contact')}}">Contact</a>
				<li><a href="{{url_for('about')}}">About</a>
				<li><a href="{{url_for('allusers')}}">All Students</a>
				<li><a href="{{url_for('search')}}">Search User</a>
				
			</ul>
		</nav>
	</header>
	<section>
		<strong><face="Times New Roman"><font color="pink">WELCOME CHAM !!</strong>
	</section>
	<section id="pageContent">
		<main role="main">
			<article>
				<h2><font face="algerian"><font color="RED"><font size=40>The Champions Karate Club</h2></font>
				<h3><font face="Times New Roman"><font color="black">Contact:9371639090</h3>
				
			</article>
			<article>
				<h2><font face="algerian"><font color="Black">Address</h2></font></font>
				<p>Vighnahrta Colony, 3rd Floor , Opposite Mahaganpati Temple,Ranjangaon Ganpati, 412209</p>
			</article>
			<article>
				<h2>WE PROVIDE</h2>
				<p>1.KARATE</p>
				<p>2.FULL PHYSICAL TRAINING</p>
				<p>3.YOGA</p>
				<p>4.DIET GUIEDENCE</p>
				<p>5.STATE LEVEL CHAMPIONSHIP</p>
			</article>
			<article>
			<id="logo"><img src="../static/tckc.jpeg" width=200>
			</article>
		</main>
		
	</section>
	<footer>
		<p>&copy; You can copy, edit and publish this template but please leave a link to our website | <a href="https://html5-templates.com/" target="_blank" rel="nofollow">HTML5 Templates</a></p>
		<address>
			Contact: <a href="mailto:me@example.com">Mail me</a>
		</address>
	</footer>


</body>

</html>