<!doctype html>
<html lang="en" class="no-js">
<head>
   <html>
<head>
  <meta charset="UTF-8">
  <title>Registration Form | Lift & Fit Gym</title>
  
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

      <link rel="stylesheet" href="../static/style1.css">

  
</head>

<body background color="gray">

  <div class="row">
  <section class="section">
    <header>
      <h3><font color="RED"><font face="algerian">THE CHAMPIONS KARATE CLUB</h3></font></font>
      <h4><font face="Fantasy Fonts">Hurry Up Addmissions Open !!</h4></font>
	  <img src="../static/my.jpeg"height=500px width=1200px>
    </header>
</head>

<body>
	<header>
		<div id="logo"><img src="../static/ckc.jpeg" height=70px width=70px><font style="italic"><font color="red"><font size=30>The Chmpions Karate Club</div></font>
		<p><font face="algerian"><font color="yellow"><font size=12>The ultimate aim of karate lies not in victory nor defeat, but in the perfection of the character of its participants." - Gichin Funakoshi.</p></font></font></font>
		<nav>  
			<ul>
				<li><a href="{{url_for('index')}}"><font color="voilet">Home</a>
				<li><a href="{{url_for('contact')}}"><font color="voilet">Contact</a>
				<li><a href="{{url_for('about')}}"><font color="voilet">About</a>
				<li><a href="{{url_for('allusers')}}"><font color="voilet">All Students</a>
				<li><a href="{{url_for('search')}}"><font color="voilet">Search User</a></font>
				
			</ul>
            
			
			<h3><font color="red">Join Us Today !!</h3>
	<footer>
			
		<p>&copy; You can copy, edit and publish this template but please leave a link to our website | <a href="https://html5-templates.com/" target="_blank" rel="nofollow">HTML5 Templates</a></p>
		<address>
			Contact: <a href="mailto:me@example.com">Mail me</a>
		</address>
	</footer>


</body>

</html>