<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="https://html5-templates.com/" />
    <title>Responsive HTML5 Page Layout Template</title>
    <meta name="description" content="Simple HTML5 Page layout template with header, footer, sidebar etc.">
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js"></script>
</head>

<body>
	<header>
		<div id="logo"><img src="../static/ckc.jpeg"><font color="red"><font face="algerian">The Champions Karate Club</div></font></font>
		<nav>  
			<ul>
				<li><a href="{{url_for('index')}}">Home</a>
				<li><a href="{{url_for('contact')}}">Contact</a>
				<li><a href="{{url_for('about')}}">About</a>
				<li><a href="{{url_for('allusers')}}">All Students</a>
				<li><a href="{{url_for('search')}}">Search User</a>
				
			</ul>
		</nav>
	</header>
	<section>
		<strong>This is search Page </strong>
	</section>
	
	<section>
	
	<form method="POST" action="{{url_for('getdata')}}">
	
	    <label for="id">Student Id</label>
		<input type="number" name="id" id="id"/>
		
		<input type="submit" name="searchuser" value="Search Student"/>
	
	</section>
		
	

	
	
	<section id="pageContent">
		<main role="main">
		{% for item in row %}
		    <tr align="center">
			    <td>{{item}} </td>
                <br><br>
			</tr>	
	    
		{% endfor %}
		
		</main>
			<div><id="logo"><img src="../static/tc.jpeg" width=500></div>
		<aside>
		
			
		</aside>
	</section>
	<footer>
		<p>&copy; You can copy, edit and publish this template but please leave a link to our website | <a href="https://html5-templates.com/" target="_blank" rel="nofollow">HTML5 Templates</a></p>
		<address>
			Contact: <a href="mailto:me@example.com">Mail me</a>
		</address>
	</footer>


</body>

</html>